.sticky-toc {
  position: sticky;
  top: 8rem;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.sticky-toc a {
  color: #95a5a6; /* Use secondary text color directly */
  transition: color 0.2s ease-in-out;
}

.sticky-toc a:hover {
  color: #38b2ac; /* Replace with eureka color */
}

.sticky-toc ul,
.sticky-toc ol {
  padding-left: 2rem;
  color: #7f8c8d; /* Use tertiary text color directly */
  font-size: 1rem;
  list-style-position: outside;
}

.sticky-toc ul {
  list-style-type: disc;
}

.sticky-toc ol {
  list-style-type: decimal;
}

.sticky-toc li + li {
  margin-top: 0.25rem;
}

.sticky-toc li > p + p {
  margin-top: 1.5rem;
}

.object-contain {
  object-fit: contain !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  display: flex;
  align-items: center;
}

.pagination .page-item .page-link {
  margin: 0.5rem;
  padding: 0.5rem;
}

.pagination .active,
.pagination .page-item:not(.disabled):hover,
.selected-menu-item {
  color: #38b2ac; /* Replace with eureka color */
  border-top-color: #38b2ac;
  border-bottom-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu-hover-fill {
  li {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -1rem;
      width: 0.25rem;
      height: 100%;
      background: #38b2ac;
      transition: 0.6s;
    }

    a {
      position: relative;
      background: linear-gradient(#38b2ac 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: background-size 0.45s 0.04s;

      &::before {
        position: absolute;
        content: attr(data-text);
        z-index: -1;
        color: #7f8c8d; /* Replace with grey color */
      }
    }

    &:nth-child(1) {
      --menu-link-active-color: #38b2ac;
    }

    &:nth-child(2) {
      --menu-link-active-color: #1abc9c;
    }

    &:nth-child(3) {
      --menu-link-active-color: #2ecc71;
    }

    &:nth-child(4) {
      --menu-link-active-color: #f1c40f;
    }

    &:nth-child(5) {
      --menu-link-active-color: #e74c3c;
    }

    &:hover {
      &::before {
        left: calc(100% + 1rem);
      }

      a {
        background-size: 100%;
      }
    }
  }
}

#experience-section,
#pages-section {
  padding-top: 100px;
  margin-top: -100px;
}
