.object-contain {
  object-fit: contain;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  display: flex;
  align-items: center;
}

.pagination .page-item .page-link {
  margin: 0.5rem;
  padding: 0.5rem;
}

.pagination .active,
.pagination .page-item:not(.disabled):hover,
.selected-menu-item {
  color: var(--color-primary-text);
  border-top-color: var(--color-primary-text);
  border-bottom-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

#menu-hover-fill {
  li {
    position: relative;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -1rem;
      width: 0.25rem;
      height: 100%;
      background: var(--color-eureka);
      transition: 0.6s;
    }

    a {
      position: relative;
      background: linear-gradient(var(--color-eureka) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: background-size 0.45s 0.04s;

      &::before {
        position: absolute;
        color: var(--color-secondary-text);
        content: attr(data-text);
        z-index: -1;
        background-clip: text;
        -webkit-background-clip: text;
        background-color: var(--color-secondary-text);
      }
    }

    &:hover {
      &::before {
        left: calc(100% + 1rem);
      }

      a {
        background-size: 100%;
      }
    }
  }
}


#experience-section,
#pages-section {
  padding-top: 100px;
  margin-top: -100px;
}

#slidebar {
  position: fixed;
  right: 256px;
  top: 25%; /* Adjust as needed */
  width: 16rem; /* Responsive width */
  transform: translateX(0); /* Make it visible initially */
  z-index: 40;
  transition: transform 0.3s ease-in-out;
}

#slidebar #menu-hover-fill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
}
