<div id="slidebar" class="fixed right-256 top-1/4 transform translate-x-full z-40 transition-transform duration-300">
    <div class="bg-secondary-bg prose dark:border-tertiary-bg rounded border p-6 transition duration-200 ease-in-out hover:shadow-lg">
        <h2 class="text-xl font-bold mb-4">Quick Links</h2>
        <ul id="menu-hover-fill" class="flex flex-col justify-between items-start leading-none text-lg">
            <li class="flex-grow"><a href="#" data-text="About Me" style="text-decoration: none; font-weight: bold;">About Me</a></li>
            <li class="flex-grow"><a href="#publications-section" data-text="Publications" style="text-decoration: none; font-weight: bold;">Publications</a></li>
            <li class="flex-grow"><a href="#pages-section" data-text="Pages" style="text-decoration: none; font-weight: bold;">Pages</a></li>
            <li class="flex-grow"><a href="#experience-section" data-text="Experience" style="text-decoration: none; font-weight: bold;">Experience</a></li>

        </ul>
    </div>
</div>